.card {
  background-color: #bcbcbc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 5px;
  border-radius: 10px;
  filter: drop-shadow(0 0 5px #efefef);
}

.card-grade1 {
  background-color: #ff9999;
}
.card-grade2 {
  background-color: #fcf5a4;
}
.card-grade3 {
  background-color: #d1ff80;
}
.card-grade4 {
  background-color: #52cefc;
}
.card-grade5 {
  background-color: #4b90ff;
}
